<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.dao.MemberMapper">

 	<!-- 회원가입 등록 -->
	 <insert id="insert" parameterType="com.shop.model.MemberVO">
	 	INSERT INTO MEMBER
	 		(
	 			USER_ID
	 			, USER_PW
	 			, USER_NAME
	 			, USER_EMAIL
	 			, POST_NO
	 			, ADDR
	 			, ADDR_DETAIL
	 			, ADMIN_CK
	 			, REG_DATE
	 			, MONEY
	 			, POINT 
	 		)
	 		VALUES
	 		(
	 		 
		 		TRIM(#{user_id})
		 		, TRIM(#{user_pw})
		 		, TRIM(#{user_name})
		 		, TRIM(#{user_email})
		 		, #{post_no}
		 		, #{addr}
		 		, TRIM(#{addr_detail})
		 		, #{admin_ck}
		 		, sysdate
		 		, TRIM(#{money})
		 		, TRIM(#{point}) 
		 	)
	 </insert>
	 
	 <!-- 회원 중복 확인 -->
	 <select id="memberIdChk" parameterType="String" resultType="Integer">
		 SELECT COUNT(*) 
		 FROM MEMBER
		 WHERE USER_ID = TRIM(#{user_id})
	 </select>
</mapper>